{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<h1 class="mt-5 m-5 text-center">Bienvenue sur votre panier :</h1>


	<div class="px-4 mt-5">
		<div class="row gx-5">
			<div class="col">
				<div class="p-3 border bg-light">
					
				
					{% for element in dataPanier %}
					
						<div class="d-flex bg-white">
							<div>
								<img src="{{element.legume.image}}" class="img-fluid">
							</div>
							<div>
								<p>{{element.legume.variete}}</p>
							</div>
							<div>
								<p>{{element.legume.prix}}
									€/kg</p>
							</div>
							<div>
								<div>
									<p>{{element.quantite}}</p>
								</div>
								<div>
									<a href="{{path('add_panier', {id: element.legume.id} )}}" class="text-decoration-none"/>
									    <i class="bi bi-plus-circle-fill"></i>
								    </a>
							    </div>
							    <div>
								    <a href="{{path('remove_panier', {id: element.legume.id} )}}" class="text-decoration-none"/>
								        <i class="bi bi-dash-circle-fill"></i>
							        </a>
						        </div>
					        </div>
					        <div>
						        <p>{{element.quantite * element.legume.prix}} €</p>
					        </div>
							<div>
							    <a href="{{path('delete_panier', {id: element.legume.id} )}}"/><i class="bi bi-trash-fill" style="color:red"></i></a>
							</div>
				        </div>
						<div>
						    {{element.maraicher.entreprise}}
						</div>

				    {% endfor %} 
			    </div>
		    </div>

		    <div class="col">
			    <div class="p-3 border bg-light">
				    <div class="d-flex justify-content-between">
					    <p><small>Total de votre commande :</small></p>
					    <p><b>{{total}} €</b></p>
				    </div>
				    <div>
					<button class="btn btn-lg btn-primary w-100" type="button">
						<a href="{{path('index_commande')}}" class="text-decoration-none text-light">Passer la commande</a>
					</button>
				</div>
			</div>
		</div>
	</div>



{% endblock %}
