{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<h2 class="text-center mt-5">Voici la liste de nos maraichers :</h2>

	<div class="row mb-5" style="justify-content:center">
		{% for maraicher in maraichers %}
			<div class="card mt-5 m-1 col-3 p-0">
				<img src="public/logos/{{maraicher.logo}}" class="img-fluid">
				<div class="card-body">
					<h6>
						<b>{{maraicher.entreprise}}</b>
					</h6>
					<p class="card-text" style="color:grey">{{maraicher.prenom}}
						{{maraicher.nom}}</p>
					<p class="card-text text-primary">
						<b>{{maraicher.ville}}
							({{maraicher.ndpt}})</b>
					</p>
				</div>
				<div class="card-footer">
					<a href="{{path('maraicher', {id: maraicher.id})}}" class="btn btn-success w-100">
						<i class="bi bi-arrow-right-circle-fill"></i> Voir ses produits
					</a>
				</div>
			</div>

		{% endfor %}
	</div>

{% endblock %}
