{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}



	<h2 class="text-center mt-5 text-primary">Dernière étape</h2>
    <h5 class="text-center mt-5 m-5">Composer votre panier parmis les produits vendus par {{maraicher.entreprise}} : </h5>

	

	<div class="row justify-content-center">
		{% for legume in legumes %}
			<div class="card m-3 col-3 p-0">
			    <div class="text-center">
				    <img src="/images/legumes/{{legume.image}}" class="img-fluid" style="width:100px;height:auto;">
				</div>
				<div class="card-body">
					<h6>
						<b>{{legume.variete}}</b>
					</h6>
					<div class="d-flex justify-content-between">
					    <div>
					        <div style="font-size: .75rem">{{legume.quantite}} kg</div>
					        <div>{{legume.prix}} €/kg</div>
					    </div>
					    <div><p class="text-primary" style="font-size: 1.3rem">{{legume.quantite * legume.prix }} €</p></div>
					</div>
				</div>
                <div class="card-footer">
                    <a href="{{path('add_panier', {id: legume.id})}}" class="btn btn-success">
                        <i class="bi bi-cart-fill"> Ajouter au panier</i>
                    </a>
	            </div>
			</div>

		{% endfor %}

	</div>

{% endblock %}